p, h1, h2 {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-wrapper {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #F7EEE5;
}

.intro {
    min-height: 352px;
    background-image: url('../images/intro/background--xs.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro__logo-container {
    width: fit-content;
    padding: 23px 7px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0A398A;
}

.intro__text-content {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.intro__heading {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.intro__additional {
    max-width: 227px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.experience {
    padding-top: 50px;
    background-color: #FFFFFF;
}

.experience__text-container {
    margin-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.experience__image {
    display: block;
    margin-bottom: 28px;
    width: 90px;
}

.text-paragraph {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #6C5F4A;
}

.experience__video-container {
    position: relative;
    padding-top: 20px;
}

.experience__video-container iframe {
    position: relative;
    display: block;
    width: 260px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
}

.experience__video-container::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: 250px;
    height: 184px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    background-color: #F7EEE5;
    transform: translateX(-19px);
}

.mission {
    padding-top: 50px;
    background-color: #FFFFFF;
}

.mission__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 7px;
    padding: 32px 15px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #0A3B93;
    overflow: hidden;
}

.mission__header::before {
    content: '';
    min-width: 22px;
    width: 22px;
    height: 28px;
    background-image: url('../icons/quote.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.mission__header::after {
    display: block;
    content: '';
    position: absolute;
    top: 78px;
    right: -55px;
    width: 179px;
    height: 139px;
    background-image: url('../icons/noise--blue.svg');
    background-repeat: no-repeat;
}

.mission__main {
    box-sizing: border-box;
    min-height: 275px;
    padding-top: 27px;
    background-image: url('../images/mission/background--xs.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mission__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 46px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mission__heading::before,
.mission__heading::after {
    content: '';
    width: 15px;
    height: 1px;
    background-image: url('../icons/line.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mission__slogan {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.mission__link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background-color: #FFFFFF;
}

.mission__link:link,
.mission__link:visited,
.mission__link:hover,
.mission__link:active {
    color: #0A3B93;
    text-decoration: none;
}

.advantages {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.advantages__heading {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #0A3B93;
}

.advantages__slider-container {
    max-width: 100%;
}

.slick-dotted.slick-slider {
    margin-bottom: 0!important;
    padding-bottom: 20px;
}

.slick-dots {
    display: flex;
    gap: 8px;
}

.slick-dots li {
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.slick-dots li button {
    display: block;
    padding: 0;
    min-width: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #8A7B6054;
}

.slick-dots li.slick-active button {
    background-color: #0A3B93;
}

.slick-dots li button::before {
    display: none;
}

.advantages__slider .slick-dots {
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.advantages__item {
    position: relative;
    display: flex!important;
    flex-direction: column;
    width: 260px;
    min-height: 317px!important;
}

.advantages__item picture {
    display: flex;
}

.advantages__item::after {
    position: absolute;
    right: 20px;
    bottom: 26px;
    z-index: 1;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../icons/plus-icon.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 300ms;
}

.advantages__item:hover::after {
    transform: rotate(45deg);
}

.advantages__item-text {
    flex-grow: 1;
    box-sizing: border-box;
    min-height: 106px;
    padding: 20px 20px 53px 20px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #0A3B93;
}

.slick-arrow,
.slick-arrow:hover,
.slick-arrow:active,
.slick-arrow:focus {
    width: 10px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.slick-arrow::before,
.slick-arrow:hover::before,
.slick-arrow:active::before,
.slick-arrow:focus::before {
    display: none;
}

.advantages__slider .slick-arrow,
.advantages__slider .slick-arrow:hover,
.advantages__slider .slick-arrow:active,
.advantages__slider .slick-arrow:focus {
    top: 142px;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:focus {
    background-image: url('../icons/arrow--left.svg');
    left: -14px;
}

.slick-next,
.slick-next:hover,
.slick-next:active,
.slick-next:focus {
    background-image: url('../icons/arrow--right.svg');
    right: -14px;
}

.market {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 83px;
    overflow: hidden;
}

.market__dots {
    position: relative;
    margin-bottom: 16px;
}

.market__dots .slick-dots {
    position: static;
}

.market::after {
    position: absolute;
    bottom: -201px;
    right: -130px;
    display: block;
    width: 237px;
    height: 297px;
    content: '';
    background-image: url('../icons/noise--white.svg');
    background-repeat: no-repeat;
}

.market__heading {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #0A3B93;
}

.market__tip {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    color: #6C5F4A;
}

.market__slider-container {
    position: relative;
    z-index: 1;
    max-width: 100%;
}

.market__slider.slick-dotted {
    padding-bottom: 0;
}

.market__slide {
    display: flex!important;
    flex-direction: column;
    width: 260px;
    min-height: 294px!important;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.market__slide--with-image {
    justify-content: flex-end;
    background-image: url('../images/market/item-background--square-xs.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.market__slide--with-image .market__slide-text {
    margin-top: auto;
    padding: 16px 10px;
    color: #FFFFFF;
}

.market__slide--employees .market__slide-text,
.market__slide--in-russia .market__slide-text,
.market__slide--departments .market__slide-text {
    background-color: #8A7B60;
}

.market__slide--experts .market__slide-text {
    background-color: #0A3B8E;
}

.market__slide--no-image {
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #0A3B8E;
}

.market__slide--no-image .market__slide-text {
    text-align: center;
    color: #FFFFFF;
}

.market__slider .slick-arrow,
.market__slider .slick-arrow:hover,
.market__slider .slick-arrow:active,
.market__slider .slick-arrow:focus {
    top: 131px;
}

@media (min-width: 700px) {
    .content-wrapper {
        width: 610px;
    }

    .intro {
        min-height: 314px;
        background-image: url('../images/intro/background--s.webp');
    }

    .intro__heading {
        font-size: 36px;
        line-height: 40px;
    }

    .intro__additional {
        max-width: 322px;
    }

    .experience {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .experience__text-container {
        margin-bottom: 22px;
        padding: 0;
    }

    .experience__image {
        margin-bottom: 20px;
    }

    .experience__video-container {
        padding: 0;
        height: 404px;
        width: 100%;
    }

    .experience__video-container iframe {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 541px;
        height: 361px;
        margin: 0;
    }

    .experience__video-container::before {
        right: auto;
        margin: 0;
        width: 520px;
        height: 382px;
        transform: none;
    }

    .mission {
        padding-top: 60px;
    }

    .mission__header {
        position: relative;
        z-index: 1;
        justify-content: flex-start;
        padding: 32px 20px;
        align-items: center;
        gap: 27px;
    }

    .mission__header::after {
        z-index: -1;
        top: 7px;
        right: -2px;
        background-image: url('../icons/noise--blue-s.svg');
    }

    .mission__main {
        padding-top: 55px;
        background-image: url('../images/mission/background--s.webp');
    }

    .mission__heading {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 46px;
    }

    .mission__slogan {
        width: 428px;
        margin-bottom: 8px;
    }

    .mission__link {
        box-sizing: border-box;
        width: 171px;
        font-size: 14px;
        text-align: center;
    }

    .advantages {
        margin-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .advantages__item {
        margin-right: 25px;
    }

    
    .slick-prev,
    .slick-prev:hover,
    .slick-prev:active,
    .slick-prev:focus {
        background-image: url('../icons/arrow--left.svg');
        left: -20px;
    }

    .slick-next,
    .slick-next:hover,
    .slick-next:active,
    .slick-next:focus {
        background-image: url('../icons/arrow--right.svg');
        right: -20px;
    }

    .market {
        margin-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 77px;
    }

    .market__dots {
        order: 1;
        margin: 0;
        align-self: center;
    }

    .market::after {
        z-index: 1;
        bottom: -217px;
        right: -94px;
        background-image: url('../icons/noise--white-s.svg');
    }

    .market__heading {
        margin-bottom: 12px;
    }

    .market__tip {
        margin-bottom: 48px; 
    }

    .market__slider.slick-dotted {
        padding-bottom: 16px;
    }

    .market__slide {
        margin-right: 25px;
    }

    .market__slider .slick-arrow,
    .market__slider .slick-arrow:hover,
    .market__slider .slick-arrow:active,
    .market__slider .slick-arrow:focus {
        top: 147px;
    }
}

@media (min-width: 1020px) {
    .content-wrapper {
        width: 930px;
    }

    .intro {
        min-height: 599px;
        background-image: url('../images/intro/background--m.webp');
    }

    .intro__logo-container {
        margin-left: 60px;
        margin-right: auto;
        padding: 36px 11px;
    }

    .intro__logo-image {
        width: 245px;
        height: 31px;
    }

    .intro__text-content {
        margin-top: 135px;
        margin-left: 40px;
        margin-right: auto;
    }

    .intro__heading {
        margin-bottom: 28px;
        font-size: 72px;
        line-height: 80px;
        text-align: left;
    }

    .intro__additional {
        max-width: 550px;
        font-size: 26px;
        line-height: 36px;
        text-align: left;
    }

    .experience {
        display: flex;
        gap: 27px;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .experience__text-container {
        order: 1;
        margin: 0;
        width: 417px;
    }

    .experience__image {
        width: auto;
        height: 116px;
        margin-bottom: 32px;
    }

    .text-paragraph {
        font-size: 18px;
        line-height: 30px;
        margin: 0;
        margin-top: 16px;
    }

    .experience__video-container {
        width: 446px;
        height: 298px;
        margin-top: 33px;
    }

    .experience__video-container iframe {
        width: 405px;
        height: 271px;
    }

    .experience__video-container::before {
        width: 405px;
        height: 272px;
    }

    .mission {
        padding-top: 62px;
    }

    .mission__header {
        padding: 94px 40px;
        gap: 38px;
        font-size: 24px;
        line-height: 32px;
    }

    .mission__header::before {
        min-width: 47px;
        width: 47px;
        height: 60px;
    }

    .mission__header::after {
        top: 112px;
        right: -27px;
        background-image: url('../icons/noise--blue-m.svg');
    }

    .mission__main {
        min-height: 461px;
        padding-top: 84px;
        background-image: url('../images/mission/background--m.webp');
    }

    .mission__heading {
        margin-bottom: 32px;
        font-size: 48px;
        line-height: 80px;
    }

    .mission__heading::before,
    .mission__heading::after {
        width: 66px;
        height: 4px;
    }

    .mission__slogan {
        width: 582px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 32px;
    }

    .mission__link {
        width: 283px;
        padding: 20px 40px;
        font-size: 18px;
        line-height: 28px;
    }

    .advantages {
        margin-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .advantages__heading {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 60px;
    }

    .advantages__slider-container {
        width: 100%;
    }

    .advantages__slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 35px;
        row-gap: 20px; 
    }

    .advantages__item {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: auto;
        width: auto;
    }

    .advantages__item-text {
        flex-grow: 1;
        min-height: 165px;
        padding-bottom: 57px;
        font-size: 18px;
        line-height: 22px;
    }

    .market {
        display: block;
        margin-top: 80px;
        padding-bottom: 140px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .market::before {
        position: absolute;
        left: 0;
        bottom: 177px;
        display: block;
        content: '';
        width: 272px;
        height: 379px;
        background-image: url('../icons/corns--m.svg');
        background-repeat: no-repeat;
    }

    .market::after {
        z-index: 0;
        background-image: url('../icons/noise--white-m.svg');
        top: 4px;
        right: -66px;
    }

    .market__heading {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 60px;
    }

    .market__tip {
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 30px;
    }

    .market__slider-container {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .market__slider {
        display: flex;
        flex-wrap: wrap;
    }

    .market__slide {
        margin: 0;
        font-size: 18px;
        line-height: 22px;
    }

    .market__slide--large {
        width: 454px;
    }

    .market__slide--large.market__slide--with-image {
        background-image: url('../images/market/item-background--large-m.webp');
    }

    .market__slide--experts {
        width: 294px;
        background-image: url('../images/market/item-background--square-m.webp');
    }

    .market__slide--in-russia {
        width: 396px;
        background-image: url('../images/market/item-background--in-russia-m.webp');
    }

    .market__slide--with-image .market__slide-text {
        padding: 16px 40px;
    }

    .market__slide--no-image {
        box-sizing: border-box;
        width: 294px;
        gap: 32px;
        padding-left: 26px;
        padding-right: 26px;
    }

    .market__slide--no-image .market__slide-text {
        width: 228px;
    }

    .market__slide--experience {
        margin-left: auto;
    }
}

@media (min-width: 1340px) {
    .content-wrapper {
        width: 1250px;
    }

    .intro {
        position: relative;
        background-image: url('../images/intro/background--l.webp');
    }

    .intro__text-content {
        margin-left: 60px;
        margin-top: 116px;
    }

    .intro__heading {
        margin-bottom: 15px;
    }

    .intro::after {
        position: absolute;
        right: 0;
        bottom: -98px;
        display: block;
        content: '';
        width: 363px;
        height: 368px;
        background-image: url('../icons/noise.svg');
        background-repeat: no-repeat;
    }

    .experience {
        padding-top: 100px;
        gap: 40px;
    }

    .experience__text-container {
        width: 545px;
    }

    .experience__video-container {
        width: 580px;
        height: 402px;
        margin: 0;
    }

    .experience__video-container iframe {
        width: 545px;
        height: 365px;
    }

    .experience__video-container::before {
        width: 545px;
        height: 367px;
    }

    .mission {
        padding-top: 102px;
    }

    .mission__header {
        padding: 94px 60px;
    }

    .mission__header p {
        width: 676px;
    }

    .mission__header::after {
        bottom: 0;
        right: 0;
        background-image: url('../icons/noise--blue-l.svg');
    }

    .mission__main {
        min-height: 437px;
        padding-top: 80px;
        background-image: url('../images/mission/background--l.webp');
    }

    .mission__heading {
        margin-bottom: 40px;
    }

    .mission__slogan {
        width: 880px;
        margin-bottom: 40px;
        line-height: 28px;
    }

    .advantages {
        margin-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .advantages__heading {
        margin-bottom: 60px;
    }

    .advantages__slider {
        column-gap: 31px;
        row-gap: 32px;
    }

    .advantages__item-text {
        min-height: 139px;
        padding-bottom: 59px;
    }

    .market {
        margin-top: 125px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 140px;
    }

    .market::before {
        bottom: 307px;
        height: 368px;
        width: 292px;
        background-image: url('../icons/corns--l.svg');
    }

    .market::after {
        top: 0;
        right: 0;
        background-image: url('../icons/noise--white-l.svg');
    }

    .market__tip {
        margin-bottom: 60px;

    }

    .market__slide--large {
        width: 565px;
    }

    .market__slide--large.market__slide--with-image {
        background-image: url('../images/market/item-background--large-l.webp');
    }

    .market__slide--in-russia {
        width: 565px;
        background-image: url('../images/market/item-background--large-l.webp');
    }
}
